.back-drop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .50;
    filter: alpha(opacity=0);
    z-index: 50;
    display: none;
}

.drop {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 100px;
    background: #ffffff;
    z-index: 51;
    padding: 10px;
    display: none;
}

.close {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.link-url {
    word-break: break-all;
}
